@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
  color: $text;
}

a {
  color: $text !important;
}

#navbar {
  position: fixed;
  right: 0px;
  height: 100vh;
}

#tunerBar {
  position: fixed;
  left: 0px;
  height: 100vh;
}

.tuner-button {
  background-color: $btnBackground;
  border: 4px $border solid;
  border-radius: 20px;
  color: $text;
  width: 100px;
  height: 100px;
}

.tuner-bar-button {
  background-color: $btnBackground;
  border: 4px $border solid;
  border-radius: 20px;
  color: $text;
  width: 50px;
  height: 50px;
}

.home-button {
  background-color: $btnBackground;
  border: 4px $border solid;
  border-radius: 20px;
  color: $text;
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;  
}

#homeDiv, #chartsDiv, #userDiv, .chartFormDiv, #commentFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addButton {
  background-color: $btnBackground;
  border: 4px $border solid;
  border-radius: 20px;
  color: $text;
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
}

#signInButton {
  background-color: $btnBackground;
  border: 4px $border solid;
  border-radius: 20px;
  color: $text;
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
}

.sign-in-btn {  
  background-color: transparent;
  border: none;
}

.chart-card {
  background-color: $contentBackground;
  border: 4px $border solid;
  color: $text;
  margin: 20px 0px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 75px;

  h3 {
    color: $text;
  }
  .btn {
    background-color: $btnBackground;
    border: 4px $border solid;
    border-radius: 20px;
  }
}

#detailsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#chartImg {
  border: 8px $border solid;
  margin: 10px;
  width: 600px;
  height: 600px;
}

#controlDiv {
  background-color: $contentBackground;
  border: 4px $border solid;
  color: $text;
  padding: 20px;
  margin: 10px;
  width: 600px;
}

.comment-card {
  background-color: $contentBackground;
  border: 4px $border solid;
  border-radius: 20px;
  color: $text;
  margin: 20px 0px;
  padding: 20px;
  position: relative;
  width: 800px;
}

#tunerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    border: 8px $border solid;
    margin: 10px;
  }
}

#buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  button {
    margin: 20px;
    font-size: 30px;
  }
}

#mobileNavbar {
  background-color: $sidebar-bg-color;
  bottom: 0;
  height: 6 rem;
  padding: 16px;
  position: sticky;
  width: 100%;
  visibility: hidden;
}

.mobile-view-button {
  visibility: hidden;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.nav-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .chart-card {
    flex-direction: column;
    width: 250px;
    height: 250px;
  }

  #detailsDiv {
    width: 600px;
  }

  #navbar {
    visibility: hidden;
  }
  
  #tunerBar {
    visibility: hidden;
  }

  #homeDiv img {
    width: 300px;
    height: 300px;
  }

  #mobileNavbar {
    visibility: visible;
  }

  .mobile-view-button {
    visibility: visible;
  }

  #tunerDiv img {
    display: flex;
    width: 200px;
    height: 200px;
  }

  #buttonDiv {
    width: 300px;
    justify-content: center;
    button {
      margin: 5px;
      width: fit-content;
      height: fit-content;
    }
  }

  #chartImg {
    width: 400px;
  }

  #controlDiv {
    width: 500px;
  }

#commentDiv {
  display: flex;
  flex-direction: column;
}

}